@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*COLOR STYLES*/

  --neutralPrimary: #ffffff;
  --neutralSecondary: #f9f9f9;
  --brandPrimary: #1d76ff;
  --buttonPrimary: #1d76ff;

  /*Text color styles*/
  --textPrimary: #292929;
  --textSecondary: #696969;
  --textTertiary: #919191;

  /*Text STYLES*/

  --h1: 6rem;
  --h2: 3.2rem;
  --h3: 2.8rem;
  --h4: 2rem;
  --h5: 1.7rem;
  --h6: 1.2rem;

  /*BUTTON STYLES*/


}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  gap: 28px;
}

.buttonPrimary{
  background-color: var(--buttonPrimary);
  color: var(--neutralPrimary);
  padding: 16px 24px;
  border: none;
  border-radius: 9px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}


#section {
  width: 100%;
  padding: 56px 200px;
}

/*HERO SECTION */

.herosection {
  background-color: var(--neutralSecondary);
  display: flex;
  flex-direction: row;
  column-gap: 56px;
  align-items: center;
  justify-content: center;
}

.herosection h1 {
  font-size: var(--h1);
  text-align: left;
  color: var(--textPrimary);
  letter-spacing: -2.58px;
}

.herosection p {
  font-size: 1.5rem;
  color: var(--textSecondary);
  line-height: 1.8rem;
  letter-spacing: -0.72px;
}

.lefthero {
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 32px;
}

.heroinputwrapper {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  padding: 20px 16px;
  background-color: var(--neutralPrimary);
  border-radius: 100px;
  align-items: center;
}
.heroinputwrapper :active {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  background-color: var(--neutralPrimary);
  border-radius: 100px;
  align-items: center;
  border: 1px solid var(--textTertiary);
}

.heroinputwrapper input {
  border: none;
  font-size: 1.1rem;
  color: var(--textTertiary);
}

.material-symbols-outlined {
  font-size: 1.1rem;
  color: var(--textTertiary);
}

.righthero {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  align-items: center;
}

.firstrighthero {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.firstrighthero img {
  width: 305px;
  height: auto;
}

.secondrighthero {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.secondrighthero img {
  width: 305px;
  height: auto;
}

.community-avatar {
  width: 168px;
  height: auto;
}

.secondrighthero a {
  font-size: 1.2rem;
  text-decoration: none;
}

.paragraph-bold {
  font-size: 1.2rem;
  font-weight: 600;
}

.secondTop {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*populardestinationssection*/

.populardestinationssection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 52px;
  padding: 20px 0;
}

#section h2 {
  font-size: var(--h2);
  font-weight: 500;
  letter-spacing: -3.9px;
}

.populardestinations {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.destinationCards img {
  width: 305px;
  height: auto;
  border-radius: 32px;
}

.destinationCards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.destinationCards h4 {
  font-size: var(--h5);
  font-weight: 650;
  letter-spacing: -1.8px;
}

/*ourServicesCardsContainer*/

.ourservicessection {
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
}

.ourServicesCardsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  background-color: var(--neutralSecondary);
  padding: 20px 20px;
  border-radius: 20px;
}

.ourServicesCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  background-color: var(--neutralPrimary);
  padding: 16px 16px;
  border-radius: 20px;
}

.ourServicesCard img {
  width: 59px;
}

/* WHY CHOOSE US SECTION */
.whychooseussection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.leftchoosesection {
  width: 564px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: start;
}

.bottomleftchoosesection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.bottomleftchoosesectioncards {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}


.rightbottomleftchoosesectioncards{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.bottomleftchoosesectioncards h3{
 font-size: var(--h5);
}



.rightchoosesection img {
  width: 550px;
  height: auto;
  border-radius: 20px;

}





/*TESTIMONIAL SECTION*/

.whatclientsayaboutus{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.testimonialSection{
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 120px;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
background: linear-gradient(90deg, #FFF 0%, #E9F5FE 100%);
padding: 20px 44px;
}

.lefttestimonialsection img{
  border-radius: 20px;
}

.righttestimonialsection{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
  justify-content: center;
}



/* joincommunitysection */
.joincommunitysection{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.topjoincommunitysection{
   display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  justify-content: center;
}

.topjoincommunitysection p{
  color: var(--travelagency-Text-primary, #292929);
text-align: center;
font-size: 20px;
line-height: normal;
letter-spacing: -0.6px;

}

.joincommunitysectionimage{
  width: 976px;
height: 448px;
aspect-ratio: 61/28;
}